{% extends 'base.html' %}

{% block content %}

<!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		<section class="inner-intro dark-bg overlay-dark">
			<div class="container">
				<div class="row title">
					<h2 class="h2">Catálogo</h2>
					<!-- <p>Ingresaloh.</p> -->          
				</div>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- End Intro Section -->
		
		<!-- Options Section -->
        <section class="ptb-60 ptb-sm-30">
            <div class="container">
               <div class="row container-masonry nf-col-3">

                    <div class="nf-item branding coffee spacing">
                        <div class="item-box">
                            <img alt="1" src="../static/img/portfolio/14.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Consequat massa quis</h5>
                                        <p class="white">Branding, Design</p>


                                        <!-- Botón añadir al carrito-->
                                        <form class="contact-form" role="form">
                                            <div class="form-field-wrapper">
                                                <input class="input-box form-full" id="form-name" type="number" name="number" placeholder="Cant." required>
                                                <button class="btn-md" type="submit" href="#"> Añadir al carrito </button>
                                            </div>
                                        </form>



                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="../static/img/portfolio/2.jpg" title="Bookmarksgrove right at">
                                <img alt="1" src="../static/img/portfolio/2.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Bookmarksgrove right at</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="../static/img/portfolio/17.jpg" title="A small river named">
                                <img alt="1" src="../static/img/portfolio/17.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">A small river named</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="nf-item design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="../static/img/portfolio/34.jpg" title="Rethoric question ran over">
                                <img alt="1" src="../static/img/portfolio/34.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Rethoric question ran over</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="../static/img/portfolio/32.jpg" title="Because there were thousands">
                                <img alt="1" src="../static/img/portfolio/32.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Because there were thousands</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="../static/img/portfolio/21.jpg" title="Ran over her cheek">
                                <img alt="1" src="../static/img/portfolio/21.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Ran over her cheek</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="../static/img/portfolio/22.jpg" title="Oxmox advised her">
                                <img alt="1" src="../static/img/portfolio/22.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Oxmox advised her</h5>
                                        <p class="white">Branding, Video</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item coffee spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="../static/img/portfolio/29.jpg" title="Subline of her own road">
                                <img alt="1" src="../static/img/portfolio/29.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Subline of her own road</h5>
                                        <p class="white">Branding, Youtube</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/23.jpg" title="But the Little Blind">
                                <img alt="1" src="img/portfolio/23.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">But the Little Blind</h5>
                                        <p class="white">Branding, Vimeo</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/24.jpg" title="Even the all-powerful">
                                <img alt="1" src="img/portfolio/24.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Even the all-powerful</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/25.jpg" title="Italic Mountains">
                                <img alt="1" src="img/portfolio/25.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Italic Mountains</h5>
                                        <p class="white">Branding, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item photo spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/33.jpg" title="Control about the blind">
                                <img alt="1" src="img/portfolio/33.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Control about the blind</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding coffee spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/27.jpg" title="The Big Oxmox advised">
                                <img alt="1" src="img/portfolio/27.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding coffee spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/18.jpg" title="The Big Oxmox advised">
                                <img alt="1" src="img/portfolio/18.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/4.jpg" title="The Big Oxmox advised">
                                <img alt="1" src="img/portfolio/4.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding coffee spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/30.jpg" title="The Big Oxmox advised">
                                <img alt="1" src="img/portfolio/30.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item branding design spacing">
                        <div class="item-box">
                            <a class="cbox-gallary1" href="img/portfolio/10.jpg" title="The Big Oxmox advised">
                                <img alt="1" src="img/portfolio/10.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div> 
				<!-- Pagination Nav -->
                <div class="pagination-nav mt-60 mt-xs-30">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- End Pagination Nav -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

{% endblock %}        