{% extends 'base.html' %}

{% block content %}

<!-- CONTENT --------------------------------------------------------------------------------->
<div id="fullpage"></div>
<div class="container"></div>

<!-- About Section -->
<div id="about" class="section overlay-dark80 light-color pt-60 pt-sm-80 pb-sm-30" style="background:#323232;">
    <div class="container text-left">
        <div class="row">
            <div class="about-text col-md-7 mb-30">
                <h3 class="padding-20 shadow" style="background-color:#8BC6CA;">¡Bienvenido emprendedor!</h3>
                <div class="padding-20 shadow" style="margin:-10px 0 0 15px;background: rgba(255,255,255,0.08);">
                <p>En STOCKER podrás llevar control del stock de tu negocio y registrar tus ventas
                    de forma más fácil y sencilla.
                    Podrás registrar ingresos y ventas, así como generar tus propias boletas!
                </p>
                <p>Regístrate para más info.</p>
                <a href="#" class="btn btn-md btn-white">REGISTRARSE</a>
                </div>

            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-md-offset-0 col-md-5">
                <img class="aligncenter" src="../static/img/wheel.png" />
            </div>
        </div>
    </div>
</div>
<!-- End About Section -->


        <!-- END CONTENT ---------------------------------------------------------------------------->

{% endblock %}
