{% extends 'base.html' %}

{% block content %}

<!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro -->
        <section id="intro" class="intro">

            <!-- Revolution Bg Video -->
            <div class="tp-banner-container">
                <div class="intro-Rev_Video text-center dark-bg black-bg">
                    <ul>
                        <li data-transition="fadein" data-slotamount="default" data-saveperformance="off" data-fsslotamount="7">

                            <!-- MAIN IMAGE -->
                            <img src="media/video1_poster.jpg" alt="video_forest" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->

                            <!-- Video Bg-->
                            <div class="tp-caption fullscreenvideo"
                                data-x="0"
                                data-y="0"
                                data-speed="0"
                                data-start="0"
                                data-easing="easeNone"
                                data-endspeed="1500"
                                data-endeasing="easeNone"
                                data-autoplay="true"
                                data-autoplayonlyfirsttime="false"
                                data-nextslideatend="true"
                                data-videowidth="100%"
                                data-videoheight="100%"
                                data-forcecover="1"
                                data-dottedoverlay="twoxtwo"
                                data-aspectratio="16:9"
                                data-forcerewind="on"
                                data-volume="mute"
                                style="z-index: 2">


                                <video class="video-js vjs-default-skin" preload="" loop="" width="100%" height="100%"
                                    poster='media/video1_poster.jpg'>
                                    <source src="media/video1.mp4" type='video/mp4' />
                                    <source src='media/video1.webm' type='video/webm' />
                                    <source src='media/video1.ogv' type='video/ogg' />
                                </video>


                                <!-- LAYER NR. 1 -->
                                <h5 class="tp-caption customin customout sfb"
                                    data-x="center"
                                    data-hoffset="0"
                                    data-y="center"
                                    data-voffset="-80"
                                    data-speed="800"
                                    data-start="800"
                                    data-endspeed="500"
                                    data-customin="x:-0;y:-100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-easing="Linear.easeNone"
                                    data-elementdelay="0.1">Hub For Creative Minds
                                </h5>

                                <!-- LAYER NR. 2 -->
                                <h1 class="tp-caption customin customout sfb h1"
                                    data-x="center"
                                    data-hoffset="0"
                                    data-y="center"
                                    data-voffset="0"
                                    data-speed="800"
                                    data-start="1400"
                                    data-endspeed="500"
                                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-easing="Linear.easeNone"
                                    data-elementdelay="0.1"
                                    data-endeasing="Linear.easeNone">Global Talent House
                                </h1>

                                <!-- LAYER NR. 3 -->
                                <div href="#about" class="tp-caption customin customout sfb"
                                    data-x="center"
                                    data-hoffset="0"
                                    data-y="center"
                                    data-voffset="90"
                                    data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="800"
                                    data-start="2000"
                                    data-endspeed="500"
                                    data-easing="Linear.easeNone"
                                    data-elementdelay="0.1">
                                    <a href="#about" class="btn btn-md btn-white-line xs-hidden scroll-to-target">Read More</a><span class="btn-space-10 xs-hidden"></span>
                                </div>


                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Revolution Bg Video -->

        </section>
        <!-- End Intro -->

        <div class="clearfix"></div>

        <!-- About Section -->
        <section id="about" class="overlay-dark80 light-color ptb ptb-sm-80 shadow" style="z-index:3; background:#323232;">
            <div class="container text-left">
                <div class="row">
                    <div class="col-md-7 mb-30">
						<h3 class="padding-20 shadow">EXPLORE GLOBAL TALENT HOUSE</h3>
						<div class="padding-20 shadow" style="margin:-10px 0 0 15px;background: rgba(255,255,255,0.08);">
						<p>With the Indian advertising entertainment, event & Fashion industry changing and running full stem and opening its doors to 
						global markets & talents, the need to gear up to face stiff competition has never been more felt than now, more so for the creative
						community which include Graphic designer, Dancers, Singers, Photographers, etc..</p>

						<p>Being In a Vibrant Advertising, Films (Bollywood), T.V, Entertainment and fashion capital city of Mumbai, Global Talent house is
						the first place you look for your promotional needs and we are confident it will be the last to end your search.</p>
						<a href="about-us.html" class="btn btn-md btn-white">I WANT TO KNOW IT ALL</a>
						</div>
						
					</div>
					<div class="col-md-5">
					</div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

		<!-- To DO Section -->
        <section id="todo" class="ptb ptb-sm-80 shadow" style="z-index:4; background: url(img/desk.png) top left no-repeat; background-size:contain;" data-stellar-background-ratio="0.5">
            <div class="wow fadeIn container text-center">
				<div class="col-md-7 col-md-offset-5">
                <h3 class="text-left">What Would You Like To Do</h3>
                <div class="spacer-15"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-25">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-eye"></i></div>
							<h5>Browse Artist Directory</h5>
							
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-25">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-ios-paper"></i></div>
							<h5>Post Requirement to Hire an Artist</h5>
							
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-25">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-speakerphone"></i></div>
							<h5>Show and Promote Wour Work as an Artist</h5>
							
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-25">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-android-calendar"></i></div>
							<h5>Check Upcoming Events</h5>
							
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-25">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-ios-people"></i></div>
							<h5>Hire Event Managers</h5>
							
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-25">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-android-mail"></i></div>
							<h5>Contact Us for Best Corporate Deals</h5>
							
							</div>
						</div>
                    </div>
                </div>
				</div>
				
            </div>
        </section>
        <!-- End Todo Section -->
		
        <!-- Events Section -->
        <section id="events" class="wow fadeInUp ptb ptb-sm-80 light-color shadow" style="background: #93301d url('img/events-bg.jpg') left center no-repeat; background-size:100% auto; z-index:2;" data-stellar-background-ratio="0.5">
            <div class="container text-left">
                <h3 class="float-left float-none-xs">UPCOMING EVENTS</h3>
				<a class="btn-link-a float-right float-none-xs">View All</a>
                <div class="spacer-60"></div>
				<div class="row">
                    <div class="owl-carousel item5-carousel nf-carousel-theme o-flow-hidden">
                        <div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/07.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Full Event Info</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="/event-detail.html">
                                            <h6 class="shop-item-name">Event Title</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Venue, City</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
                        <div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/01.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Full Event Info</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="/event-detail.html">
                                            <h6 class="shop-item-name">Event Title</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Venue, City</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/02.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Full Event Info</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Event Title</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Venue, City</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item  box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/04.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Full Event Info</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Event Title</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Venue, City</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/05.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Full Event Info</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Event Title</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Venue, City</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/06.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Full Event Info</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Event Title</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Venue, City</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End Events Section -->
<!-- Artists Section -->
        <section id="artists" class="wow fadeInUp ptb ptb-sm-80 light-color shadow" style="background: #3f8a90 url('img/artists-bg.jpg') fixed left center no-repeat; background-size:100% auto; z-index:1;" data-stellar-background-ratio="0.5">
            <div class="container text-left">
                <h3 class="float-left float-none-xs">FEATURED ARTISTS</h3>
				<a class="btn-link-a float-right float-none-xs">View All</a>
                <div class="spacer-60"></div>
				<div class="row">
                    <div class="owl-carousel item5-carousel nf-carousel-theme o-flow-hidden">
                        <div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/07.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Artist Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="/event-detail.html">
                                            <h6 class="shop-item-name">Artist Name</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Category</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
                        <div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/01.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Artist Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="/event-detail.html">
                                            <h6 class="shop-item-name">Artist Name</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Category</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/02.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Artist Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Artist Name</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Category</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item  box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/04.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Artist Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Artist Name</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Category</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/05.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Artist Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Artist Name</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Category</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>
						
						<div class="item">
                            <div class="nf-col-padding">
                                <div class="item-box">
                                    <!-- Shop item images -->
                                    <div class="shop-item box-shadow">
                                        <div class="item-img">
                                            <img src="img/product/06.jpg" />
                                        </div>
                                        <div class="item-mask">
                                            <div class="item-mask-detail">
                                                <div class="item-mask-detail-ele">
													<p>Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                                    <a class="btn btn-line-xs btn-white-line">Artist Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Shop item images -->

                                    <!-- Shop item info -->
                                    <div class="shop-item-info">
                                        <a href="shop-detail.html">
                                            <h6 class="shop-item-name">Artist Name</h6>
                                        </a>
                                        <div class="shop-item-price"><span>Category</span></div>
                                    </div>
                                    <!-- Shop item info -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End Artists Section -->
        

        <!-- END CONTENT ---------------------------------------------------------------------------->

{% endblock %}
