{% extends 'base.html' %}

{% block content %}

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section class="inner-intro dark-bg overlay-dark">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Accede</h2>
                    <div class="page-breadcrumb">
                        <a href="/">Inicio</a>/<span>Login</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Section -->

        <!-- Login Section -->
        <section id="Pricing" class="ptb-60 ptb-sm-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="border-box">
                            <h4>¿Ya tienes una cuenta?</h4>
                            <form action="/loginRequest" method="POST">
                                <div class="form-field-wrapper">
                                    <label for="login-email">Usuario</label>
                                    <input type="text" required="" placeholder="Ingresa tu usuario" name="username" id="login-email" class="input-sm form-full" aria-required="true">
                                </div>
                                <div class="form-field-wrapper">
                                    <label for="login-pass">Contraseña</label>
                                    <input type="password" required="" placeholder="Ingresa tu contraseña" name="password" id="login-pass" class="input-sm form-full" aria-required="true">
                                </div>
                                <!-- Flash Section -->
                                    {% for message in get_flashed_messages()%}
                                    <div class="alert alert-info alert-dismissible">
                                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                      {{ message }}
                                    </div>
                                    {% endfor%}
                                <!-- End Flash Section -->
                                <button name="submit" id="form-submit" type="submit" class="btn btn-md btn-black" href="user">Ingresar</button>
                                <a class="float-right">¿Te olvidaste tu contraseña?</a>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="border-box">
                            <h4>Regístrate con nosotros</h4>
							<a class="btn btn-md btn-black join-btn" href="registerAdmin">Regístrate como emprendedor</a>
                            <p></p>
                            <a class="btn btn-md btn-black join-btn" href="registerClient">Regístrate como cliente</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

        {% endblock %}