{% extends 'base.html' %}

{% block content %}

        <!-- CONTENT --------------------------------------------------------------------------------->

<!-- Intro Section -->
<section class="inner-intro dark-bg overlay-dark">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Nuevo Insumo</h2>
            <!-- <p>Registraloh.</p> -->
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
        <!-- Options Section -->
        <section class="ptb-60 ptb-sm-30">
			<div class="container text-left">
                <div class="mb-30">	
					<!-- Flash Section -->
					{% for message in get_flashed_messages()%}
						<div class="alert alert-info alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ message }}
						</div>
					{% endfor%}
					<!-- End Flash Section -->			
					<h2> Crear </h2>
						<form action="/newProductRequest" method="POST" enctype="multipart/form-data">
							<div class="form-field-wrapper">
								<input class="input-sm form-full" type="text" name="name" placeholder="Nombre del producto" required>
							</div>
							<div class="form-field-wrapper">
								<input class="input-sm form-full" type="text" name="unit" placeholder="Unidad" required>
							</div>
							<div class="form-field-wrapper">
								<input class="input-sm form-full" type="number" name="price" placeholder="Precio" required>
							</div>							
							<div class="form-field-wrapper">
									<div class="accordion-section">
										<h6 class="accordion-title black">Categoría</h6>
										<div class="accordion-content">
											<div class="form-field-wrapper">												
												<span><input class="text" type="text" name="category" placeholder="Nueva categoría"></span>
												<button class="btn btn-md btn-black" type="submit" id="peque-submit" name="submit">Seleccionar nueva</button><br>		
											</div>	
											<div>
												<span><input class="input-sm" type="radio" name="name" value=fruta>Fruta</span><br>												
											</div>
										</div>
									</div>
									
							</div>
							<div class="form-field-wrapper">
								<textarea class="form-full" rows="1" name="description" placeholder="Descripción"></textarea>
							</div>
							<div class="form-field-wrapper">
								<input class="input-sm" type="checkbox" name="name" value=Visibilidad>¿Mostrar en el catálogo?</span>
							</div>
							<div class="form-field-wrapper">							
								<p> Añadir imagen </p>								
									<input class="form-full" type="file" name="image" placeholder="Añadir imagen" required>									
							</div>
							<button name="submit" id="form-submit" type="submit" class="btn btn-md btn-black" href="newProductRequest">Guardar</button>
						</form>
                        <!-- END Filters FORM -->
				</div>			
			</div>								
        </section>
        <!-- Contact Section -->

       

        <!-- End CONTENT ------------------------------------------------------------------------------>

{% endblock %}        