{% extends 'base.html' %}

{% block content %}

        <!-- CONTENT --------------------------------------------------------------------------------->

<!-- Intro Section -->
<section class="inner-intro dark-bg overlay-dark">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Nueva receta</h2>
            <!-- <p>Registraloh.</p> -->
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->

        <!-- Options Section -->
        <section class="ptb-60 ptb-sm-30">
			<div class="container text-left">
                <div class="mb-30">
					<h2> Receta </h2>

                    <div class="filter-form">
                        <!-- Filters FORM -->
                    <form class="filters-form" id="filters" role="form" method="POST" action="/newRecipeRequest" enctype="multipart/form-data">

                    <div class="form-field-wrapper">
                        <input class="input-sm form-full" id="form-name" type="text" name="recipe-name" placeholder="Nombre de la receta" required>
                    </div>

                        <div class="accordion mb-15">
                            <div class="accordion-section">
                                <h6 class="accordion-title black">Elegir insumos</h6>
                                <div class="accordion-content">
                                    <div id="interlineado" class="space form-field-wrapper">
                                       {% for supply in supplies %}
                                            <span><input class="input-sm" id="category" type="checkbox" name="supply_id" value="{{supply.id}}">{{supply.name}}</span>
                                            <span><input class="input-box" type="number" name="cantidad" placeholder="Cant." required></span><br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                       <div class="form-field-wrapper">
                           <input class="input-sm form-full" id="form-number" type="number" name="price" placeholder="Precio" required>
                       </div>

                       <div class="form-field-wrapper">
                        <div class="accordion-section">
                            <h6 class="accordion-title black">Categoría</h6>
                            <div class="accordion-content">
                                <div class="form-field-wrapper">
                                    <input class="input-sm" type="radio">
                                        <span><input class="text" type="text" name="category" placeholder="Nueva categoría"></span><br>
                                </div>
                                {% for category in rec_categories %}
                                <div>
                                    <span><input class="input-sm" type="radio" name="category" value={{category}}>{{category}}</span><br>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                       <div class="form-field-wrapper">
                           <textarea class="form-full" id="form-remarks" rows="1" name="description" placeholder="Descripción"></textarea>
                       </div>
                       <div class="form-field-wrapper">
                        <input class="input-sm" type="checkbox" name="visibility" value=Visibilidad>¿Mostrar en el catálogo?</span>
                        </div>
                       <div class="form-field-wrapper">
                        <p> Añadir imagen </p>
                            <input class="form-full" type="file" name="image" placeholder="Añadir imagen" required>
                       </div>

                       <button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit" href="newRecipeRequest">Guardar</button>
                   </form>
                   <!-- END Filters	 FORM -->
                   </div>

				</div>
			</div>
        </section>

        <!-- End Options Section -->



        <!-- End CONTENT ------------------------------------------------------------------------------>

{% endblock %}