{% extends 'base.html' %}

{% block content %}

<!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		<section class="inner-intro dark-bg overlay-dark">
			<div class="container">
				<div class="row title">
					<h2 class="h2">Actualiza tu stock</h2>
					<!-- <p>Actualizaloh.</p> -->           
				</div>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- End Intro Section -->
		
		<!-- Sidemenu -->
					<section id="pushmenu-right" class="pushmenu pushmenu-right side-menu">
						
					</section>
					<!--End Sidemenu -->

        <!-- Options Section -->
        <section class="ptb-60 ptb-sm-30">
			<div class="container text-left">
                <div class="mb-30">
					<!-- Flash Section -->
					{% for message in get_flashed_messages()%}
					<div class="alert alert-info alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						{{ message }}
					</div>
					{% endfor%}
					<!-- End Flash Section -->	
					<h2> Modificar </h2>
						<div class="filter-form">
							 <!-- Filters FORM -->
                        <form class="filters-form" name="filterForm" id="filters" role="form" method="POST" action="/user/updateRequest">
							<div class="accordion mb-15">
								<div class="accordion-section">
									<h6 class="accordion-title black">Elegir producto</h6>
									<div class="accordion-content">
										<div class="form-field-wrapper">
											{% for supply in supplies %}
											<!--<input type="hidden" name="id" value={{supply.id}}>-->
											<span><input class="input-sm" id="category" type="radio" name="id" value="{{supply.id}}" required>{{supply.name}}</span><br>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
								
                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="updateInput" type="text" name="name" placeholder="Nuevo nombre">
                            </div>
							<div class="form-field-wrapper">
								<input class="input-sm form-full" id="updateInput" type="number" name="price" placeholder="Cambiar precio">
							</div>
                            <div class="form-field-wrapper">
								<input class="input-sm form-full" type="text" name="unit" placeholder="Cambiar unidad">
							</div>
							<div class="form-field-wrapper">
								<input class="input-sm form-full" type="number" name="quantity" placeholder="Cambiar cantidad">
							</div>

							<div class="accordion-section form-field-wrapper">
								<h6 class="accordion-title black">Categoría</h6>
								<div class="accordion-content">
									<div class="form-field-wrapper">
										<input class="input-sm" type="checkbox">											
											<span><input class="text" type="text" name="text" placeholder="Nueva categoría"></span><br>
											<span><input class="input-sm" type="radio" name="name" value=fruta>Fruta</span><br>
											<span><input class="input-sm" type="radio" name="name" value=fruta>Verdura</span><br>
									</div>        
								</div>
							</div>
                                
                        														
							<div class="form-field-wrapper">
								<textarea class="form-full" rows="1" name="description" placeholder="Cambiar descripción"></textarea>
							</div>
							<div class="form-field-wrapper">
								<input class="input-sm" type="checkbox" name="name" value=Visibilidad>¿Mostrar en el catálogo?</span>
							</div>
							<div class="form-field-wrapper">							
								<p> Añadir nueva imagen </p>								
									<input class="form-full" type="file" name="image" placeholder="Añadir imagen" required>									
							</div>				
							<button class="btn btn-md btn-black" type="submit" name="submit" href="updateRequest">Actualizar</button>
						</form>
                        <!-- END Filters	 FORM -->
						</div>					
				</div>			
			</div>								
        </section>
		
        <!-- End Options Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>
		
		<!-- JS -->
		<script src="../static/js/updateInputs.js" type="text/javascript"></script>
{% endblock %}        