{% extends 'base.html' %}

{% block content %}

<!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		<section class="inner-intro dark-bg overlay-dark">
			<div class="container">
				<div class="row title">
					<h2 class="h2">Actualiza tu stock</h2>
					<!-- <p>Actualizaloh.</p> -->           
				</div>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- End Intro Section -->
		
		<!-- Sidemenu -->
					<section id="pushmenu-right" class="pushmenu pushmenu-right side-menu">
						
					</section>
					<!--End Sidemenu -->

        <!-- Options Section -->
        <section class="ptb-60 ptb-sm-30">
			<div class="container text-left">
                <div class="mb-30">				
					<h2> Modificar </h2>						
						<div class="filter-form">
							 <!-- Filters FORM -->
                        <form class="filters-form" id="filters" role="form">
							<div class="accordion mb-15">
								<div class="accordion-section">
									<h6 class="accordion-title black">Elegir producto</h6>
									<div class="accordion-content">
										<div class="form-field-wrapper">
											<span><input class="input-sm" id="category" type="radio" name="form-category" value="Papas">Papas</span><br>
											<span><input class="input-sm" id="category" type="radio" name="form-category" value="Limones">Limones<span><br>
											<span><input class="input-sm" id="category" type="radio" name="form-category" value="Chifles">Chifles<span><br>
										</div>
									</div>
								</div>
								</div>
                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Nuevo nombre" required>
                            </div>
                            <div class="form-field-wrapper">
								
                                <div class="accordion-section">
                                    <h6 class="accordion-title black">Categoría</h6>
                                    <div class="accordion-content">
                                        <div class="form-field-wrapper">												
                                            <span><input class="text" type="text" name="text" placeholder="Nueva categoría"></span>
                                            <button class="btn btn-md btn-black" type="submit" id="peque-submit" name="submit">Seleccionar nueva</button><br>		
                                        </div>	
                                        <div>
                                            <span><input class="input-sm" type="radio" name="name" value=fruta>Fruta</span><br>												
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-field-wrapper">
								<input class="input-sm form-full" id="form-number" type="number" name="form-number" placeholder="Fijar cantidad de stock actual" required>
							</div>
                            <div class="form-field-wrapper">
								<input class="input-sm form-full" id="form-submit" type="text" name="form-submit" placeholder="Nuevas unidades" required>
							</div>
                            <div class="form-field-wrapper">
								<input class="input-sm form-full" id="form-number" type="number" name="form-number" placeholder="Nuevo precio" required>
							</div>
							<div class="form-field-wrapper">
								<textarea class="form-full" id="form-remarks" rows="1" name="form-remarks" placeholder="Cambiar descripción"></textarea>
							</div>	
                            <div class="form-field-wrapper">
								<input class="input-sm" type="checkbox" name="name" value=Visibilidad>¿Mostrar en el catálogo?</span>
							</div>					
							<div class="form-field-wrapper">							
								<p> Seleccionar nueva imagen </p>
								<form class="input-sm" action="/action_page.php">									
									<input class="form-full" id="myFile" type="file" name="filename" placeholder="Añadir imagen">									
								  </form>
							</div>
							<button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Actualizar</button>
						</form>
                        <!-- END Filters	 FORM -->
						</div>					
				</div>			
			</div>								
        </section>
		
        <!-- End Options Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

{% endblock %}        