{% extends 'base.html' %}

{% block content %}

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section class="inner-intro dark-bg overlay-dark">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Perfil</h2>

                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->

        <!-- Options Section -->
        <section class="ptb-60 ptb-sm-30">
			<div class="tabs mt-15">
			<ul>
				<li><a href="#tabs-1">Datos personales</a></li>
				<li><a id="cv-tab" href="#tabs-2">Métodos de pago</a></li>
				<li><a id="cv-tab" href="#tabs-3">Compras</a></li>
			</ul>

			<div class="ui-tab-content">                        
			


				<!-- Datos personales -->
				<div id="tabs-1">
					<div class="container text-left">
						<div class="mb-30">	
							<h2> Datos personales</h2>	
							<hr>
								<!-- Contact FORM -->
								<form class="contact-form" id="contact" role="form" name="clientInfoForm">
											
									<div class="form-field-wrapper">
										<input class="input-sm form-full" id="form-name" type="text" name="name" placeholder="Nombre" required>
									</div>

									<div class="form-field-wrapper">
										<input class="input-sm form-full" id="form-name" type="text" name="lastName" placeholder="Apellido" required>
									</div>
		
									<div class="form-field-wrapper">
										<input class="input-sm form-full" id="form-email" type="email" name="email" placeholder="Correo" required>
									</div>

									<div class="form-field-wrapper">
										<input class="input-sm form-full" id="form-name" type="text" name="username" placeholder="Nombre de usuario" required>
									</div>									
		
										
									<button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Guardar cambios</button>
								</form>
								<!-- END Contact FORM -->
						</div>
					</div>
				</div><!--end tab-->

				<!-- Métodos de pago -->
				<div id="tabs-2">
					<div class="container text-left">
						<div class="mb-30">	
							<h2> Métodos de pago</h2>	
							<hr>
								<!-- Contact FORM -->
								<form class="contact-form" id="contact" role="form">

									<div class="form-field-wrapper">
										<div class="accordion-section">
											<h6 class="accordion-title black">Tarjetas guardadas</h6>
											<div class="accordion-content">
												<div class="form-field-wrapper">                                         
														<span><input class="input-sm" type="radio" name="card" value=unidad>XXXX XXXX XXXX 3795</span><br>
														<span><input class="input-sm" type="radio" name="card" value=peso>XXXX XXXX XXXX 4884</span><br>                                          
											</div>
										</div>
										</div>
									</div>	   											
									<div class="form-field-wrapper">	
										<button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Elegir como predeterminada</button>
									</div>
								</form>	

								

								<form class="contact-form" id="contact" role="form">
											
									<h4>Agregar una nueva tarjeta</h4>

									<div class="form-field-wrapper">
										<input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Nombre en la tarjeta" required>
									</div>

									<div class="form-field-wrapper">
										<input class="input-sm form-full" id="form-name" type="number" name="number" placeholder="Número de tarjeta" required>
									</div>
		
									<div class="form-field-wrapper">
										<input class="input-box-m form-full" id="form-full" type="date" name="date" placeholder="Fecha de vencimiento" required>
									</div>
									
									<div class="form-field-wrapper">
										<p><i class="fa fa-search left">
										<input class="input-box form-full" id="form-name" type="number" name="number" placeholder="CCV" required>
										</i></p>
									</div>		
										
									<button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Guardar tarjeta</button>
								</form>
								<!-- END Contact FORM -->
						</div>
					</div>
				</div><!--end tab-->

				<!-- Compras -->
				<div id="tabs-3">
					<div class="container text-left">
						<div class="mb-30">	
							<h2> Compras</h2>	
							<hr>
							
							<!-- Faq Section -->
							<section class="ptb-60 ptb-sm-60">
								<div class="container">
									<!-- Accordion -->
									<div class="accordion">                   
					
										<div class="accordion-section">
											<h6 class="accordion-title">Boleta de venta         BV-001</h6>
											<div class="accordion-content">
												<p>Venta del 24 de noviembre del 2021 por s/.69.</p>
												<button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Ver boleta</button>
											</div>
										</div>
					
										<div class="accordion-section">
											<h6 class="accordion-title">Boleta de venta         BV-002</h6>
											<div class="accordion-content">
												<p>Venta del 25 de noviembre del 2021 por s/.4.20.</p>
												<button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Ver boleta</button>
											</div>
										</div>
					
										<div class="accordion-section">
											<h6 class="accordion-title">Boleta de venta         BV-003</h6>
											<div class="accordion-content">
												<p>Venta del 30 de noviembre del 2021 por s/.3.69.</p>
												<button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Ver boleta</button>
											</div>
										</div>
					
									</div>
									<!-- End Accordion -->
								</div>
							</section>
							<!-- Faq Section -->

						</div>
					</div>
				</div><!--end tab-->
			
			
			
			</div>
			</div>
        </section>
        <!-- End Options Section -->



        <!-- End CONTENT ------------------------------------------------------------------------------>
		
		<!-- JS -->
		<script src="../static/js/fillClientInfo.js" type="text/javascript"></script>
{% endblock %}
