{% extends 'base-profile.html' %}

{% block content %}

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section class="inner-intro dark-bg overlay-dark">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Perfil</h2>
                    
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->


        <!-- To DO Section -->
        <div id="fullpage">
        <div id="todo" class="section ptb-60 pt-sm-80 shadow bg-image dark-color" style="background: #fff url('../static/img/desk.jpg') top left no-repeat; background-size:100% 100%;">
            <div class="container text-center">
				<div class="col-md-7 col-md-offset-5">
                <h3 class="text-left text-sm-white">¿Qué quieres hacer hoy?</h3>
                <div class="spacer-15"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 mb-25">
						<a href="artist-directory.html">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-eye"></i></div>
							<h5>Nuevo producto</h5>
							
							</div>
						</div>
						</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 mb-25">
						<a href="post-opportunity-detail.html">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-ios-paper"></i></div>
							<h5>Ingreso de stock</h5>
							
							</div>
						</div>
						</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 mb-25">
						<a href="registration-detail.html">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-speakerphone"></i></div>
							<h5>Actualización de stock</h5>
							
							</div>
						</div>
						</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 mb-25">
						<a href="events-calendar.html">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-android-calendar"></i></div>
							<h5>Ventas</h5>
							
							</div>
						</div>
						</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 mb-25">
						<a href="/dash">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-ios-people"></i></div>
							<h5>Dashboard</h5>
							
							</div>
						</div>
						</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 mb-25">
						<a href="contact-us.html">
						<div class="todo-box box-shadow">
							<div class="padding-10">
							<div class="page-icon-top"><i class="ion ion-android-mail"></i></div>
							<h5>Statistics</h5>
							
							</div>
						</div>
						</a>
                    </div>
                </div>
				</div>
				
            </div>
        </div>
        <!-- End Todo Section -->
        </div>

        <!-- End CONTENT ------------------------------------------------------------------------------>

{% endblock %}