{% extends 'base.html' %}

{% block content %}

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
            <section class="inner-intro dark-bg overlay-dark">
                <div class="container">
                    <div class="row title">
                        <h2 class="h2">Catálogo</h2>
                        <!-- <p>Registraloh.</p> -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
        <!--End Intro Section -->

		<!-- Sidemenu -->
					<section id="pushmenu-right" class="pushmenu pushmenu-right side-menu">
						<a id="menu-sidebar-close-icon" class="menu-close"><i class="ion ion-android-close"></i></a>
						<h5 class="white">Filtrar</h5>
						<div class="filter-form">
							 <!-- Filters FORM -->
                        <form class="filters-form" id="filters" role="form">
							<div class="form-field-wrapper">
								<input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Nombre">
							</div>
							<div class="form-field-wrapper">
								<input class="input-sm form-full" id="form-state" type="text" name="form-state" placeholder="State">
							</div>                                   
							<div class="form-field-wrapper">
								<input class="input-sm form-full" id="form-city" type="text" name="form-city" placeholder="City">
							</div>							
							
							<div class="accordion mb-15">
                            <div class="accordion-section">
                                <h6 class="accordion-title white">Categoría</h6>
                                <div class="accordion-content">
                                    <div class="form-field-wrapper">
										<span><input class="input-sm" id="category" type="checkbox" name="form-category" value="Fruta">Fruta</span><br>
										<span><input class="input-sm" id="category" type="checkbox" name="form-category" value="Verdura">Verdura<span><br>
										<span><input class="input-sm" id="category" type="checkbox" name="form-category" value="Dulce">Dulce<span><br>
										
									</div>
								</div>
                            </div>
							</div>
							
                        <button class="btn btn-md btn-white form-full" type="submit" id="form-submit" name="submit">Filtrar</button>
                        </form>
                        <!-- END Filters	 FORM -->
						</div>
					</section>
					<!--End Sidemenu -->

        <!-- Options Section -->
        <section class="ptb-60 ptb-sm-30">
			<div class="container text-left">
                <div class="mb-30">	
					<a id="menu-sidebar-list-icon" class="btn btn-md btn-black float-right float-none-xs"><i class="fa fa-filter"></i><span> Filtrar</span></a>
					<h2> Lista de recetas </h2>	
					<hr>
				</div>	
				
                <div class="row mtb-30">
					<div class="item-box col-md-4 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 mb-sm-30">
						<a href="#"><img alt="1" src="../static/img/portfolio/ceviche.jpeg" class="item-container"></a>                           
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<a href="#"><h6>Ceviche</h6></a>
						<p class="color">STOCK: 26</p>
						<p>UNIDADES: un.</p>
                        <p>CATEGORÍA: Entrada</p>
                        <p>Utiliza x insumos.</p>
                        <a class="btn" href="/user/updateStock">Actualizar</a>
						</p>								
					</div>
				</div>	
				<hr>

                <div class="row mtb-30">
					<div class="item-box col-md-4 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 mb-sm-30">
						<a href="#"><img alt="1" src="../static/img/portfolio/3.jpg" class="item-container"></a>                           
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<a href="#"><h6>Camote</h6></a>
						<p class="color">STOCK: 30</p>
						<p>UNIDADES: kg</p>
                        <p>CATEGORÍA: Tubérculo</p>
                        <p>Es un insumo.</p>
                        <a class="btn" href="/user/updateStock">Actualizar</a>
						</p>								
					</div>
				</div>	
				<hr>
				


				</div>
			</div>
								
        </section>
		
        <!-- End Options Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

        
        {% endblock %}