{% extends 'base.html' %}

{% block content %}

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section class="inner-intro dark-bg overlay-dark">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Signup as artist</h2>
                    <div class="page-breadcrumb">
                        <a href="index">Home</a>/<a href="registration-detail.html">About Registration</a>/<span>Signup</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->

        <form role="search" id="searchform" action="/registerRequestAdmin" method="POST">
            <!-- Options Section -->
            <section class="ptb-30 ptb-sm-30">
                <div class="container text-center">
                    <div class="mtb-30">					
                            <h3>Crear una cuenta como administrador</h3>
                            <div class="spacer-30"></div>
                            <div class="row">
                            <div class="form-field-wrapper col-sm-6 ">
                                <input class="input-sm form-full" id="form-first-name" type="text" name="name" placeholder="Nombre*" required>
                            </div>							
                            <div class="form-field-wrapper col-sm-6">
                                <input class="input-sm form-full" id="form-last-name" type="text" name="lastName" placeholder="Apellido*" required>
                            </div>			
                            </div>
                            <div class="row">
                            <div class="form-field-wrapper col-sm-6">
                                <input class="input-sm form-full" id="form-email" type="email" name="email" placeholder="Correo*" required>
                            </div>	
                            <div class="form-field-wrapper col-sm-6">
                                <input class="input-sm form-full" id="form-contact" type="text" name="username" placeholder="Nombre de usuario*" required>
                            </div>					
                            </div>
                            <div class="row">
                            <div class="form-field-wrapper col-sm-6">
                                <input class="input-sm form-full" id="form-password" type="password" name="password" placeholder="Contraseña*" required>
                            </div>
                            <!-- <div class="form-field-wrapper col-sm-6">
                                <input class="input-sm form-full" id="form-confirm-password" type="password" name="form-confirm-password" placeholder="Confirmar contraseña*" required>
                            </div> -->
                            </div>									
                            
                            <div class="row">
                            <div class="form-field-wrapper">
                                <span><input class="input-sm" id="form-accept-terms" type="checkbox" name="form-accept-terms" value="accept-terms">He leído y acepto los <a href="#"> Términos y Condiciones</a></span><br>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}<br>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            </div>				
                            <div class="form-field-wrapper mt-15">
                                <button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Crear cuenta</button>
                            </div>
                        </form>
                        <!-- END create account FORM -->	
                    </div>
                </div>
            </section>
            <!-- End Options Section -->


        

        <!-- End CONTENT ------------------------------------------------------------------------------>
        
{% endblock %}