{% extends 'base.html' %}

{% block content %}

<!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		<section class="inner-intro dark-bg overlay-dark">
			<div class="container">
				<div class="row title">
					<h2 class="h2">Ingreso de nuevo stock</h2>
					<p>Ingresaloh.</p>            
				</div>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- End Intro Section -->
		
		<!-- Faq Section -->
        <section class="ptb-60 ptb-sm-60">
            <div class="container">
                <!-- Accordion -->
                <div class="accordion">
                    <div class="accordion-section">
                        <h6 class="accordion-title">How tough is Kick Dummy? Will it split?</h6>
                        <div class="accordion-content">
                            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
                        </div>
                    </div>

                    <div class="accordion-section">
                        <h6 class="accordion-title">Will the Kick Dummy fall over?</h6>
                        <div class="accordion-content">
                            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
                        </div>
                    </div>
                    
                </div>
                <!-- End Accordion -->
            </div>
        </section>
        <!-- Faq Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

{% endblock %}        